/*
Theme Name:     Fruitful Child
Theme URI:      http: //hicee.handong.com/
Description:    Child theme for the Fruitful theme
Author:         Joshua Jung
Author URI:     https://github.com/wbqd
Template:       fruitful
Version:        0.1.0
*/

@import url("../fruitful/style.css");

img.logo {
  max-width: 300px;
  height: auto;
}

.main-navigation ul ul li.menu-item-has-children>a:hover:after {
  content: "\f0d9";
  font-family: FontAwesome;
  display: inline-block;
  float: right;
}
