
/* global styles
===========================*/

body {

  padding-top: 0px;

  padding-bottom: 0px;

  background: #F7F7F7;

  font-size: 14px;

  font-family: 'Montserrat', 'NanumGothic', sans-serif;

}

header {

  padding-top: 50px;

}

section {

  position: relative;

  padding-top: 60px;

  padding-bottom: 80px;

  width: 100%;

  min-width: 100%;

  margin-top: -5px;

}

.justify {

  text-align: justify;

}

.relative {

  position: relative;

}

/* HEADER
	============================*/

#head-top {

  position: relative;

  /*background:#ff7878;*/

  background-size: 100% auto;

  padding-top: 110px;

  background-position: bottom;

  padding-bottom: 0px;

  margin-top: 0px;

  display: inline-block;

  width: 100%;

  overflow: hidden;

  height: 150px;

}

.inner-wrap {

  position: absolute;

  background: url(../../images/7th_poster_1.png) center bottom no-repeat fixed;

  background-size: 100% auto;

  background-position: bottom;

  padding-bottom: 0px;

  margin-top: 0px;

  display: inline-block;

  width: 100%;

  height: 680px;

  bottom: -120px;

  left: 0px;

  right: 0px;

}

#head-top .hero-unit {

  background: none;

  min-height: 300px;

  color: #ffffff;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  padding-top: 20px;

}

#head-top .hero-unit h1 {

  font-weight: 700;

  font-size: 32.5px;

  text-transform: uppercase;

  line-height: 36px;

}

/* SCROLL BUTTONS in header and Features Iphone */

.gobtnwrapper {

  position: absolute;

  bottom: 0px;

  right: 0px;

  left: 0px;

  display: block;

  width: 100%;

  height: 40px;

  text-align: center;

}

.gobtn {

  display: inline-block;

  width: auto;

  height: 40px;

  color: #fff;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  /*-webkit-box-shadow: 4px 3px 0px rgba(0, 0, 0, 0.45) inset;
		-moz-box-shadow:    4px 3px 0px rgba(0, 0, 0, 0.45) inset;
		box-shadow:         4px 3px 0px rgba(0, 0, 0, 0.45) inset;*/

  -moz-border-radius-topleft: 3px;

  -webkit-border-top-left-radius: 3px;

  border-top-left-radius: 3px;

  -moz-border-radius-topright: 5px;

  -webkit-border-top-right-radius: 5px;

  border-top-right-radius: 5px;

  padding: 15px 25px 15px 25px;

}

.gobtn i,

.gobnt a {

  color: #fff;

}

.gobtn.gray-light i,

.gobnt.gray-light a {

  color: #666;

}

.gobtn.gray-light {

  background: #f4f4f4;

}

.gobtn:hover {

  opacity: 0.9;

  text-decoration: none;

  color: rgba(250, 250, 250, 0.8);

}

.scrollto {

  margin-top: 30px;

}

.scrollto li {

  list-style: none;

  display: inline-block;

  float: left;

  margin: 7px;

}

.scrollto li a {

  font-size: 120%;

  text-decoration: none;

  color: #fff;

}

.scrollto li a:hover {

  font-size: 120%;

  text-decoration: none;

  color: #333;

}

/* SECTIONS
	  ===========================*/

/* SECTIONS BACKGROUND COLORS 
	  ================================ */

/* FOR CHANGE SECTION BACKGROUND ADD class to section */

.pink-1 {

  background: #ff7878;

  color: #fff;

}

.well.panel.alt.pink-1 {

  background: #ff7878 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.pink-1 {

  background: #ff7878 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.pink-1 {

  background: #ff7878 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.pink-2 {

  background: #EC6454;

  color: #fff;

}

.well.panel.alt.pink-2 {

  background: #EC6454 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.pink-2 {

  background: #EC6454 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.pink-2 {

  background: #EC6454 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.orange {

  background: #FF8830;

  color: #fff;

}

.gray-light .circ-wrap i {

  color: #FF8830;

}

.well.panel.alt.orange {

  background: #FF8830 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.orange {

  background: #FF8830 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.orange {

  background: #FF8830 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.orange-1 {

  background: #EF7540;

  color: #fff;

}

.well.panel.alt.orange-1 {

  background: #EF7540 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.orange-1 {

  background: #EF7540 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.orange-1 {

  background: #EF7540 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.green-1 {

  background: #3B9C97;

  color: #fff;

}

.well.panel.alt.green-1 {

  background: #3B9C97 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.green-1 {

  background: #3B9C97 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.green-1 {

  background: #3B9C97 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.blue-1 {

  background: #45B7B1;

  color: #fff;

}

.well.panel.alt.blue-1 {

  background: #45B7B1 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.blue-1 {

  background: #45B7B1 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.blue-1 {

  background: #45B7B1 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.blue-2 {

  background: #80B3FF;

  color: #fff;

}

.well.panel.alt.blue-2 {

  background: #80B3FF url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.blue-2 {

  background: #80B3FF url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.blue-2 {

  background: #80B3FF url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.blue-middle {

  background: #42a2ce;

  color: #fff;

}

.well.panel.alt.blue-middle {

  background: #42a2ce url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.blue-middle {

  background: #42a2ce url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.blue-middle {

  background: #42a2ce url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.blue-dark {

  background: #506F9B;

  color: #fff;

}

.well.panel.alt.blue-dark {

  background: #506F9B url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.blue-dark {

  background: #506F9B url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.blue-dark {

  background: #506F9B url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.blue-dark-2 {

  background: #456087

  /*#34495e*/

  ;

  color: #fff;

}

.well.panel.alt.blue-dark-2 {

  background: #456087 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.blue-dark-2 {

  background: #456087 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.blue-dark-2 {

  background: #456087 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.purple-pink {

  background: #EE3A64;

  color: #fff;

}

.well.panel.alt.purple-pink {

  background: #EE3A64 url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.purple-pink {

  background: #EE3A64 url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.purple-pink {

  background: #EE3A64 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.gray-light {

  background: #f9f9f9;

  color: #555;

}

.well.panel.alt.gray-light {

  background: #f9f9f9 url(../../images/7th poster_2.png) 0% 0% fixed no-repeat;

  color: #555;

}

.well.panel.alt2.gray-light {

  background: #f9f9f9 url(../../images/7th poster_3.png) 0% 0% fixed no-repeat;

  color: #555;

}

.well.panel.alt3.gray-light {

  background: #f9f9f9 url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #555;

}

#head-top.gray-light .hero-unit {

  color: #666;

}

.red {

  background: #fc5242

  /*#CF1C22*/

  ;

  color: #fff;

}

.well.panel.alt.red {

  background: #fc5242

  /*#CF1C22*/

  url(../../images/headertopalt.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt2.red {

  background: #fc5242

  /*#CF1C22*/

  url(../../images/headertopalt2.png) 0% 0% fixed no-repeat;

  color: #fff;

}

.well.panel.alt3.red {

  background: #fc5242

  /*#CF1C22*/

  url(../../images/getitalthand.png) 0% 0% fixed no-repeat;

  color: #fff;

}

/* SECTIONS GLOBAL PARAMS
	  ================================ */

.well.panel {

  border: none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

}

.well .lead {

  font-size: 220%;

  line-height: 36px;

  margin-bottom: 30px;

}

.well.panel {

  background: url(../../images/bgicons.png) 0% 0% fixed repeat;

  margin-bottom: -100px;

  margin-top: 10px;

  padding-top: 10px;

  padding-bottom: 80px;

  min-height: 150px;

  color: #fff;

  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

  -moz-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

}

.well.panel.alt {

  background: url(../../images/7th%20poster_2.png) 0% 0% fixed no-repeat;

  margin-top: 60px;

  padding-top: 120px;

  padding-bottom: 80px;

  min-height: 150px;

  color: #fff;

  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

  -moz-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

}

.well.panel.alt2 {

  background: url(../../images/7th%20poster_3.png) 0% 0% fixed no-repeat;

  margin-top: 60px;

  padding-top: 120px;

  padding-bottom: 80px;

  min-height: 150px;

  color: #fff;

  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) inset;

  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

  -moz-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .4) inset;

}

hr {

  margin: 40px 0px;

}

hr,

.page-header {

  border-color: rgba(50, 50, 50, 0.1)

}

.page-header h2,

.page-header h3 {

  font-weight: 400;

  font-size: 32.5px;

  line-height: 46px;

}

.lead {

  margin-bottom: 20px;

  font-size: 21px;

  font-weight: 100;

  line-height: 30px;

}

.box {

  margin-bottom: 30px;

}

.about-box {

  margin-bottom: 20px;

  margin-top: 20px;

  color: #fff;

}

.about-box h3,

.about-box h4 {

  border-bottom: 1px solid #fff;

}

.about-box h3 span,

.about-box h4 span {

  border-bottom: 2px solid #fff;

  display: inline-block;

}

/* CUSTOM INPUTS 
	  =================================*/

input[type="text"].subscribe-input {

  height: 45px;

  background: #42a2ce

  /*#1abc9c*/

  ;

  border: 1px solid rgba(0, 0, 0, 0.5);

  border-right: none;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  color: #FFF;

  -webkit-box-shadow: -2 -2px 0 0 rgba(0, 0, 0, 0.6);

  -moz-box-shadow: -2px -2px 0 0 rgba(0, 0, 0, 0.6);

  box-shadow: -2px -2px 0 0 rgba(0, 0, 0, 0.6);

}

input[type="text"].subscribe-input::-webkit-input-placeholder {

  /* WebKit browsers */

  color: rgba(250, 250, 250, 0.5);

}

input[type="text"].subscribe-input:-moz-placeholder {

  /* Mozilla Firefox 4 to 18 */

  color: rgba(250, 250, 250, 0.5);

}

input[type="text"].subscribe-input::-moz-placeholder {

  /* Mozilla Firefox 19+ */

  color: rgba(250, 250, 250, 0.5);

}

input[type="text"].subscribe-input:-ms-input-placeholder {

  /* Internet Explorer 10+ */

  color: rgba(250, 250, 250, 0.5);

}

/* FOOTER
	  ================================*/

footer#foot-sec {

  display: inline-block;

  width: 100%;

  min-width: 100%;

  padding-top: 0px;

  padding-bottom: 50px;

  min-height: 200px;

  color: #fff;

}

footer .well.panel {

  background: url(../../images/bgicons.png) 0% 0% fixed repeat;

  margin-bottom: 0px;

  margin-top: -50px;

  padding-top: 140px;

  padding-bottom: 120px;

  min-height: 300px;

}

footer .circ-wrap {

  float: left;

  margin: 10px;

}

footer .circ-wrap a {

  color: #fff;

}

footer .circ-wrap a:hover {

  text-decoration: none;

}

footer a.credits {

  color: #fff;

  border-bottom: 1px dotted;

}

footer a.credits:hover {

  color: #fff;

  text-decoration: none;

  border-bottom: 1px solid;

}

/* NAVIGATION 
	  =============================== */

.navbar .nav > li > a {

  float: none;

  padding: 35px 20px 30px;

  color: #555;

  text-decoration: none;

  text-shadow: none;

  font-size: 12px;

  font-weight: bold;

  text-transform: uppercase;

  border-top: 2px solid transparent;

}

.navbar .nav > .active > a,

.navbar .nav > .active > a:hover,

.navbar .nav > .active > a:focus {

  color: #3dc3bd;

  text-decoration: none;

  border-top: 2px solid #3dc3bd;

  background: none;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

}

.navbar .brand {

  padding: 10px 0px 10px 30px;

  color: #3dc3bd;

  text-shadow: none;

  font-size: 32.5px;

  font-weight: 400;

  margin-right: 30px;

  margin-top: 10px;

}

.navbar-fixed-top .navbar-inner,

.navbar-static-top .navbar-inner {

  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);

  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);

  -moz-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);

}

.navbar-inner {

  min-height: 30px;

  padding-right: 20px;

  padding-left: 20px;

  background: #fff;

  background-image: none;

  background-repeat: repeat-x;

  border: none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  filter: none;

  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);

  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);

  -moz-box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);

}

.navbar-static-top .container,

.navbar-fixed-top .container,

.navbar-fixed-bottom .container {

  width: auto;

  max-width: 1170px;

}

/* ICONS WRAPERS
	===========================*/

.circ-wrap {

  width: 98px;

  height: 98px;

  margin: 0 auto;

  line-height: 100px;

  text-align: center;

  border: 2px solid rgba(50, 50, 50, .1);

  -webkit-border-radius: 10px;

  -moz-border-radius: 10px;

  border-radius: 10px;

  padding-top: 15px;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);

  -moz-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);

  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);

  -webkit-transition: 0.25s;

  -moz-transition: 0.25s;

  -o-transition: 0.25s;

  transition: 0.25s;

}

.circ-wrap:hover {

  border: 2px solid rgba(250, 250, 250, .2);

  background: rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset;

  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset;

  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset;

}

.circ-wrap.c-primary {

  background: #1abc9c;

  border: none;

}

.circ-wrap.c-info {

  background: #3498db;

  border: none;

}

.circ-wrap.c-success {

  background: #2ecc71;

  border: none;

}

/* Carousel
	==============================*/

.carousel-control {

  position: absolute;

  top: 50%;

  left: 15px;

  width: 40px;

  height: 40px;

  margin-top: 20px;

  font-size: 30px;

  padding-top: 10px;

  font-weight: 100;

  line-height: 30px;

  color: #ffffff;

  text-align: center;

  background: none;

  border: none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

}

.carousel-control.right {

  right: -20px;

  left: auto;

  -moz-border-radius-topleft: 5px;

  -webkit-border-top-left-radius: 5px;

  border-top-left-radius: 5px;

  -moz-border-radius-bottomleft: 5px;

  -webkit-border-bottom-left-radius: 5px;

  border-bottom-left-radius: 5px;

}

.carousel-control.left {

  left: -20px;

  right: auto;

  -moz-border-radius-topright: 5px;

  -webkit-border-top-right-radius: 5px;

  border-top-right-radius: 5px;

  -moz-border-radius-bottomright: 5px;

  -webkit-border-bottom-right-radius: 5px;

  border-bottom-right-radius: 5px;

}

/* PEOPLE
	==============================*/

.social-contacts a i {

  text-decoration: none;

  color: #3F7497;

}

.social-contacts a i:hover {

  color: #335E7C;

  text-decoration: none;

  transition: all ease-in-out 0.3s;

  -webkit-transition: all ease-in-out 0.3s;

  -moz-transition: all ease-in-out 0.3s;

}

.social-contacts a:hover {

  text-decoration: none;

}

/* PRODUCTS
	==============================*/

.thumbnail.product-item {

  border-top: 0px;

  border-left: 0px;

  border-right: 0px;

  overflow: hidden;

  max-height: 300px;

  padding-top: 20px;

  background: none;

  border-bottom: 4px solid rgba(0, 0, 0, 0.1);

  -moz-box-shadow: none;

  box-shadow: none;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

}

/* BUTTONS 
	=============================*/

.navbar .nav > li > a.btn,

.btn {

  border: none;

  background: #34495e;

  color: white;

  font-size: 16.5px;

  text-decoration: none;

  text-shadow: none;

  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.4);

  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.4);

  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.4);

  -webkit-transition: 0.25s;

  -moz-transition: 0.25s;

  -o-transition: 0.25s;

  transition: 0.25s;

  -webkit-backface-visibility: hidden;

}

.navbar .nav > li > a.btn:hover,

.btn:hover,

.navbar .nav > li > a.btn:focus,

.btn:focus {

  background-color: #4e6d8d;

  color: white;

  -webkit-transition: 0.25s;

  -moz-transition: 0.25s;

  -o-transition: 0.25s;

  transition: 0.25s;

  -webkit-backface-visibility: hidden;

}

.navbar .nav > li > a.btn:active,

.navbar .nav > li > a.btn.active,

.btn:active,

.btn.active {

  background-color: #2c3e50;

  color: rgba(255, 255, 255, 0.75);

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

}

.btn.disabled,

.btn[disabled] {

  background-color: #95a5a6;

  color: white;

}

.navbar .nav > li > a.btn.btn-large,

.btn.btn-large {

  padding-bottom: 12px;

  padding-top: 13px;

}

.navbar .nav > li > a.btn.btn-primary,

.btn.btn-primary {

  background-color: #2fe2bf;

}

.navbar .nav > li > a.btn.btn-primary:hover,

.navbar .nav > li > a.btn.btn-primary:focus,

.btn.btn-primary:hover,

.btn.btn-primary:focus {

  background-color: #1abc9c;

}

.navbar .nav > li > a.btn.btn-primary:active,

.navbar .nav > li > a.btn.btn-primary.active,

.btn.btn-primary:active,

.btn.btn-primary.active {

  background-color: #16a085;

}

.btn.btn-info {

  background-color: #3498db;

}

.btn.btn-info:hover,

.btn.btn-info:focus {

  background-color: #5dade2;

}

.btn.btn-info:active,

.btn.btn-info.active {

  background-color: #2383c4;

}

.btn.btn-danger {

  background-color: #e74c3c;

}

.btn.btn-danger:hover,

.btn.btn-danger:focus {

  background-color: #ec7063;

}

.btn.btn-danger:active,

.btn.btn-danger.active {

  background-color: #dc2d1b;

}

.btn.btn-success {

  background-color: #2ecc71;

}

.btn.btn-success:hover,

.btn.btn-success:focus {

  background-color: #55d98d;

}

.btn.btn-success:active,

.btn.btn-success.active {

  background-color: #27ad60;

}

.btn.btn-warning {

  background-color: #FFAA49;

}

.btn.btn-warning:hover,

.btn.btn-warning:focus {

  background-color: #f4d03f;

}

.btn.btn-warning:active,

.btn.btn-warning.active {

  background-color: #cea70c;

}

/* Progress bars
	 ================================*/

.progress,

.ui-slider {

  background: #e8edf2;

  border-radius: 32px;

  height: 20px;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);

}

.progress .bar,

.ui-slider .bar {

  background: #1abc9c;

  -webkit-box-shadow: none !important;

  -moz-box-shadow: none !important;

  box-shadow: none !important;

  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);

}

.progress .bar-success,

.ui-slider .bar-success {

  background-color: #2ecc71;

  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);

}

.progress .bar-warning,

.ui-slider .bar-warning {

  background-color: #FFAA49;

  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);

}

.progress .bar-danger,

.ui-slider .bar-danger {

  background-color: #e74c3c;

  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);

}

.progress .bar-info,

.ui-slider .bar-info {

  background-color: #3498db;

  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);

}

.navbar .btn-navbar {

  float: right;

  padding: 20px 20px;

  margin: 0px;

  color: #333;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background-color: #3dc3bd;

  background-image: none;

  border-color: none;

  filter: none;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

}

.navbar .btn-navbar:hover {

  background-color: #1abc9c;

}

/* @media width
	====================================*/

@media (max-width: 1040px) {

  .navbar .nav > li > a {

    float: none;

    padding: 35px 15px 30px;

  }

}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {

  h3 {

    font-size: 18px;

  }

  p {

    padding-right: 15px;

  }

}

@media (max-width: 979px) {

  .navbar-fixed-top .navbar-inner,

  .navbar-fixed-bottom .navbar-inner {

    padding-bottom: 0px;

    padding-top: 0px;

  }

  .navbar .container,

  .navbar-fixed-top .navbar-inner {

    padding-right: 0px;

    padding-left: 0px;

  }

  .navbar-fixed-top,

  .navbar-fixed-bottom {

    position: fixed !important;

  }

  .navbar-inverse .navbar-inner {

    min-height: 20px;

  }

  .nav-collapse.pull-right {

    float: none;

    text-align: center;

  }

  .navbar .nav > li > a {

    padding: 15px 20px 20px;

  }

  #head-top {

    min-height: 150px;

    background-size: auto 100%;

    background-position: bottom;

    padding-top: 80px;

  }

  .inner-wrap {

    height: 620px;

  }

  #head-top .hero-unit {

    padding-top: 60px;

  }

  #head-top .hero-unit h1 {

    font-weight: 400;

    font-size: 24.5px;

    line-height: 30px;

  }

  #head-top .hero-unit p {

    font-weight: 400;

    font-size: 16px;

    line-height: 30px;

  }

  .nav-collapse .nav {

    padding-right: 10px;

    padding-left: 10px;

    background: rgba(250, 250, 250, 0.7);

  }

  .well .lead {

    font-size: 220%;

    line-height: 36px;

    margin-bottom: 30px;

    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);

  }

}

@media (max-width: 767px) {

  body {

    padding-right: 0px;

    padding-left: 0px;

  }

  .container {

    padding-right: 20px;

    padding-left: 20px;

  }

  .navbar-inverse .navbar-inner {

    min-height: 30px;

  }

  .navbar-fixed-top,

  .navbar-fixed-bottom,

  .navbar-static-top {

    margin-right: 0px;

    margin-left: 0px;

  }

  .navbar .nav > li > a {

    float: none;

    padding: 15px 20px 15px;

    -webkit-border-radius: 0px;

    -moz-border-radius: 0px;

    border-radius: 0px;

  }

  #head-top {

    background-size: auto 100%;

  }

  #head-top .hero-unit h1 {

    font-weight: 400;

    font-size: 28px;

    line-height: 30px;

  }

  #head-top .hero-unit p {

    font-weight: 400;

    font-size: 18px;

    line-height: 30px;

    margin-top: 30px;

  }

  .well.panel.alt,

  .well.panel.alt2 {

    background-position: 100% 100%;

  }

}

.lead li {

  padding-bottom: 10px;

}

.page-header li {

  text-align: left;

  font-size: 18px;

  margin-bottom: 10px;

}

.unvisible {

  visibility: hidden;

}

p.caption {

  font-size: 16px;

}

#logo {

  max-height: 60px;

}

.holding-img {

  max-height: 100px;

}

.panel {

  margin-bottom: 20px;

  background-color: #fff;

  border: 1px solid transparent;

  border-radius: 4px;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.panel-default {

  border-color: #ddd;

}

.panel-body {

  padding: 15px;

}

.holding-panel {

  margin: 0 auto 10px auto;

  max-width: 400px;

}

.embeded-pdf {

  width: inherit;

  height: auto;

}

.img-responsive {} .text-blue {

  color: #3498db;

  font-weight: 600;

}

.btn-big {

  width: 96%;

  margin-top: 10px;

}

.btn-group-justified {

  display: table;

  width: 100%;

  table-layout: fixed;

  border-collapse: separate;

}

.btn-group-justified > .btn,

.btn-group-justified > .btn-group {

  display: table-cell;

  float: none;

  width: 1%;

}

.btn-group-justified > .btn-group .btn {

  width: 100%;

}